/*
* === FONTS ===
*/

@font-face {
    font-family: Dosis;
    src: url("../fonts/Dosis-Regular.otf") format("opentype");
}

@font-face {
    font-family: Dosis;
    src: url("../fonts/Dosis-Bold.otf") format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: Dosis;
    src: url("../fonts/Dosis-SemiBold.otf") format("opentype");
    font-weight: 600;
}

@font-face {
    font-family: Dosis;
    src: url("../fonts/Dosis-Medium.otf") format("opentype");
    font-weight: 500;
}
* {
	font-family: Dosis;
	font-size:16px;
}

/*
* === HEADER ===
*/

.icon-home {
	background-image: url('../img/icon-home.png');
	background-position: center center;
	width:17px;
	height:17px;
	margin-right:5px;
}

.header {
	background-color:#f7f3e7;
	height:180px;
}

.header>div {
	padding-bottom:5px;
}

.header a{
	color:#303a41;
}


.menu {
	background-color: white;
	border:3px;
}

.menu .navbar {
	position:relative;
}

.menu .navbar-nav li a {
	padding:35px 35px 35px 35px;
	font-weight:bold;
	color:#303a41;
	border-bottom:3px solid #fff;

}

.menu .navbar-nav li a:hover {
	 background-color:#aa0556;
	 color:white;
}

.menu .navbar-nav .active {
	border-bottom:3px solid #aa0556;
}

.menu .navbar-header a {

}

li.button-cta a{
	background-color:#aa0556!important;
	color:white!important;
	font-weight: 600;
}

li.button-cta a:hover {
	background-color:#aa0556;
}

.content .button-cta {
	background-color:#aa0556!important;
	color:white;
	padding:20px 20px 20px 20px;
	text-transform: uppercase;
	font-weight:bold;
  	margin-top:13%;

}

.logo {
	display: inline-block;
    padding: 15px;
    line-height: 100%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: white;
    position:absolute;
    margin-top:-15px;
}



/*
* === CONTENT===
*/


.content {
	background-image:url('../img/content-bg.png');
	background-position: right bottom;
	background-repeat: no-repeat;
}
.content ul li {
	list-style-type:none;
	line-height:30px;
	font-size:20px;
	font-weight:500;
}

.content ul li b{
	font-size:20px;
}


.cta {
	background-color: #f7f3e7;
	height:150px;
	background-image: url('../img/diagonal-cta.png');
	background-position:bottom;
	background-repeat: no-repeat;
	background-size: 100% 40%;
}


.disclaimer {
	padding-top:30px;
	padding-left:30px;
}


.footer{
	background-color:#b7b7b7;
	min-height:100px;
}

.footer ul li a {
	color:white;
	padding-top:50px;
	padding-bottom:50px;
}

.footer ul li a:hover {
	background-color:white;
	color:#b7b7b7;
}







/*
* === MEDIA QUERIES ===
*/


@media(max-width:767px) {
	.header {
		margin-bottom: 300px;
	}


	.menu .navbar-nav li a {
		border-bottom:1px solid #b7b7b7;
		text-align:center;
	}

	.menu .navbar-nav li:last-child a {
		border:0;
	}

	.footer ul li a {
		color:white;
		padding-top:30px;
		padding-bottom:30px;
		border-bottom:1px solid white;
		text-align:center;
	}

	.footer ul li:last-child a {
		border:0;
	}
}

